
<h1> Codial <%= title %></h1>

<div id="home-container">
    <section id="feed-posts">
        <% if(locals.user) { %> 
            <h3> Posts </h3>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="Type your post" required></textarea>
                <br>
                <input type="submit" value="Post">
            </form>

            <div id="post-list-container">

                <ul id="post-list">
                    <% for(let post of posts) { %>

                    <%- include('_post', {post: post}); %>

                    <% } %>
                </ul>
            </div>

        <% } %>
    </section>

    <section id="users-friends">
        <h4> Friends </h4>
        <!-- <ul> -->
            <% for(u of all_users) { %>
                
                <a href="/users/profile/<%= u.id %>"> <%= u.name %> </a>
                <br>
            <% } %>
        <!-- </ul> -->
    </section>
</div>
<script src="/js/home_posts.js"></script>