<h1>Sign In</h1>


<form action="/users/create-session" method="POST">
    <input name="uname" type="email" placeholder="Your Email" required>
    <br><br>
    <input name="upass" type="password" placeholder="Password" required>
    <br><br>
    <input type="submit" value="Sign In">
    <br><br>
</form>