<h1>Sign Up</h1>

<form action="/users/create" method="POST">
    <input name="uname" type="text" placeholder="Your Name" />
    <br><br>
    <input name="email_id" type="email" placeholder="Your Email" />
    <br><br>
    <input name="upass" type="password" placeholder="Password" />
    <br><br>
    <input name="upass_c" type="password" placeholder="Confirm Password" />
    <br><br>
    <input type="submit" value="Sign Up" />
    <br><br>
    
</form>